<h1>Rails Contact Aplication</h1>

<p>This application was created in April of 2021, using ruby on rails and bootstrap</p>

<article>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quisquam autem ab quidem repudiandae cupiditate delectus eligendi voluptatum aliquam pariatur vel, minima molestiae illum facere. Nam voluptatibus maiores beatae. Repellat?
</article>