<div class="new_edit">

  <div id="title_edit">
    <p> Submit the form again, once is modifided!</p>
  </div>

  <div>
    <%= render 'form', contact: @contact %>
  </div>

  <div class="bottom_links">
    <%= link_to 'Show', @contact %> | <%= link_to 'Back', contacts_path %>
  </div>

</div>
