<div id="edit">

  <div id="title_edit">
    <h1>New Contact</h1>
  </div>

  <div>
    <%= render 'form', contact: @contact %>
  </div>

  <div id="bottom_links">
    <%= link_to 'Cancel', contacts_path %>
  </div>

</div>